.margin_right_5 {
    margin-right: 20%;
}

.margin_left_15 {
    margin-left: 15px;
}
.margin_top_15 {
    margin-top: 10%;
}

.error_message {
    font-size: 2em;
    color: firebrick;
    margin-bottom: 5%;
}

.align_center {
    text-align: center;
}

.app_container {
    margin: 5px 10% auto;
}

.app_form {
    width: 50%;
    float: left;
}

.app_result {
    width: 50%;
    float: right;
}

.payslip {

}

.payslip_card {
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.payslip_card:hover {
    box-shadow: 4px 8px 45px 0 rgba(0,0,0,0.2);
}

.salary_slip_header {
    padding: 3%;
    text-align: center;
    color: var(--app-result-heading-color);
}

.division {
    background-color: var(--app-result-heading-color);
    width: 100%;
    height: 15px;
}

.basic_details {

}
.basic_details_left {
    width: 50%;
}
.basic_details_right {
    width: 50%;
}
.salary_details {
    width: 100%;
}

.generate_button {
    background-color: var(--app-pink-color);
}

.width_adjustment_50 {

}

input::-webkit-datetime-edit{ color: transparent; }
input::value::-webkit-datetime-edit{ color: #000000; }
input:focus::-webkit-datetime-edit { color: #000000; }

@media only screen and (max-width: 800px) {

    .app_form {
       width: 100%;
    }

    .app_result{
        width: 100%;
    }

    .app_container {
        margin-top: 10%;
    }

}

@media only screen and (max-width: 600px) {

    .basic_details_left{
        width: 100%;
        margin-bottom: 5%;
    }

    .basic_details_right{
        width: 100%;
    }

    .width_adjustment_50 {
        width: 50%;
    }
}